body{
    background:black;
    height: 100%;
    overflow: hidden
}
.text-red{
    color:red;
}

.loading-page {
    display: grid;
    justify-content: center;
    margin-top: 6%;
}

span{
    background: blue;
    border-radius: 35px;
    height: 23px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}

.display-hover1, .display-hover2{
    color: blue;
    background: limegreen;
    padding: 9px;
    width: 10rem;
    display: none;
}
.first-hover {
    position: relative;
    top: -19rem;
    left: 18rem;
}

.second-hover {
    position: relative;
    top: -19rem;
    left: 11rem;
}

.span1:hover + .display-hover1 {
    display: block;
  }

.span2:hover + .display-hover2 {
    display: block;
}

p{
    position: absolute;
    bottom: 0px;
    left: 30%;
}

/*
.span1 {
    position: relative;
    left: 84%;
    top: -14rem;
}
.display-hover1{
    position: relative;
    left: 90%;
    top: -14rem;
}
.span2{
    position: relative;
    left: 53%;
    top: -13rem;
}
.display-hover2{
    position: relative;
    left: 53%;
    top: -19rem;
}


.span1:hover + .display-hover1 {
    display: block;
  }*/

/*


.second-hover {
    position: relative;
    top: -13rem;
    left: 11rem;
}

p{
    position: absolute;
    bottom: 2px;
    left:30%;
}

.span1:hover + .display-hover1 {
    display: block;
  }

.span2:hover + .display-hover2 {
    display: block;
}*/

/*
img {
    position: absolute;
    top: 30%;
    left: 45%;
}
span{
    background: blue;
    border-radius: 35px;
    height: 23px;
    text-align: center;
    width: 4rem;
}

.span2 {
    background: red;
    position: absolute;
    top: 57%;
    left: 67%;
}

.span1 {
    position: absolute;
    left: 84%;
    top: 50%;
}

.display-hover1, .display-hover2{
    color: blue;
    background: limegreen;
    padding: 9px;
    width: 7.4rem;
    position: absolute;
    display: none;
}

.display-hover1 {
    top: 54%;
    left: 83%;
}

.display-hover2 {
    top: 61%;
    left: 68%;
}

.span1:hover + .display-hover1 {
    display: block;
  }

.span2:hover + .display-hover2 {
    display: block;
}*/