body{
    background:black;
    height: 100%;
    overflow: hidden
}
.text-red{
    color:red;
}

.loading-page {
    display: grid;
    justify-content: center;
    margin-top: 6%;
}

p{
    position: absolute;
    bottom: 2px;
    left:30%;
}
